html {
  font-size: 90.5%;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h1{
  text-align: center;
  margin-top: 20px;
}
button{
  margin-top: 20px;
  margin-left: 100px;
  background-color: aqua
  ;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.card {
  width: 450px;
  display: flex;
  
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}